[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
	branch = master
[submodule "vim-plug"]
	path = vim-plug
	url = git://github.com/junegunn/vim-plug.git
	branch = master
[submodule "dq"]
	path = dq
	url = git://github.com/dexterous/dq.git
	branch = bash-only
